@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	@apply bg-black;
}

.auth-input {
	@apply w-full p-3 bg-gray-800 rounded-md border border-gray-700 focus:outline-none focus:border-gray-500;
}

.auth-btn {
	@apply w-full bg-green-500 hover:bg-green-400 text-black font-semibold p-3 rounded-full cursor-pointer;
}
